/* Wanna use this file in 3 components */

.wrapper {
  padding: 0 100px 100px 100px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  margin: 80px 0;
  font-size: 42px;
}

.products {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 100px;
}
