.little,
.big {
  width: 63px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

.little {
  width: 24px;
  padding: 0 8px;
  height: 24px;
}
