@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

a {
  font-family: "Raleway", sans-serif;
}

html {
  width: 100%;
}

/* navbar active class */
.active {
  color: #5ece7b;
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: 2px solid#5ECE7B;
}

.currency-active {
  background: #eeeeee;
}

.swiper-button-prev {
  color: white;
  left: initial;
  bottom: initial;
  right: initial;
  top: initial;
  bottom: 16px;
  right: 56px;
  background: rgba(0, 0, 0, 0.73);
  --swiper-navigation-size: 18px;
  padding: 6px 10px;
  box-sizing: content-box;
}

.swiper-button-next {
  color: white;
  left: initial;
  bottom: initial;
  right: initial;
  top: initial;
  bottom: 16px;
  right: 16px;
  background: rgba(0, 0, 0, 0.73);
  --swiper-navigation-size: 18px;
  padding: 6px 10px;
  box-sizing: content-box;
}

html:has(.overlay-active) {
  overflow: hidden;
}

.overlay-active {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  right: 0;
  top: 80px;
  bottom: 0;
  left: 0;
  background: rgba(57, 55, 72, 0.22);
}

.overlay {
  display: none;
}
